.bookmarks {
  padding: 1rem 0;
  position: absolute;
  /* right: 0; */
  right: -2.5rem;
  z-index: 10;
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba(var(--color-grey-dark-1), 0.1);

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
}

.bookmarks:hover,
.nav__btn--bookmarks:hover + .bookmarks {
  visibility: visible;
  opacity: 1;
}
.bookmarks__list {
  list-style: none;
}

.bookmarks__field {
  cursor: pointer;
  padding: 0 4rem;

  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.3s;
}

.bookmarks__field:hover {
  background-color: var(--color-grey-light-2);
}

.nav__btn {
  height: 100%;
  font-family: inherit;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1.5rem;
  transition: all 0.3s;

  display: flex;
  align-items: center;
}

.nav__btn svg {
  height: 2.4rem;
  width: 2.4rem;
  fill: var(--color-primary);
  margin-right: 0.7rem;
  transform: translateY(-1px);
}

.nav__btn:focus {
  outline: none;
}

.nav__btn:hover {
  background-color: var(--color-grey-light-2);
}
