.message,
.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;

  display: flex;
}
.message svg,
.error svg {
  height: 3rem;
  width: 3rem;
  fill: var(--color-primary);
  transform: translateY(-0.3rem);
}

.message p,
.error p {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}
