.recipe__ingredients {
    padding: 5rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: var(--color-grey-light-2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipe__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
    list-style: none;
  }

  .heading--2 {
    font-size: 2rem;
    font-weight: 700;
    color: #f38e82;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    text-align: center;
}  
