.recipe__directions {
    padding: 5rem 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipe__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: var(--color-grey-dark-2);
  }

  .recipe__publisher {
    font-weight: 700;
  }

  .heading--2 {
    font-size: 2rem;
    font-weight: 700;
    color: #f38e82;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    text-align: center;
}

.btn--small,
.btn--small:link,
.btn--small:visited {
    background-image: var(--gradient);
    border-radius: 10rem;
    border: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s;

    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.25rem 2.25rem;
    text-decoration: none;
}
.btn--small svg {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
  }
.btn--small:hover {
      transform: scale(1.05);
    }
  
.btn--small:focus {
      outline: none;
    }
  
.btn--small > *:first-child {
      margin-right: 1rem;
    }
  


