.btn {
  background-image: var(--gradient);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:focus {
  outline: none;
}

.btn > *:first-child {
  margin-right: 1rem;
}

.search__btn {
  font-weight: 600;
  font-family: inherit;
}
.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}
