.copyright {
    color: var(--color-grey-dark-2);
    font-size: 1.2rem;
    padding: 0 3.5rem;
    margin-top: 4rem;
}

.copyright .twitter-link:link,
.copyright .twitter-link:visited {
    color: var(--color-grey-dark-2);
}